<%= stylesheet_link_tag "jlpt", media: "all", 'data-turbo-track': 'reload' %>
<div class="m-auto w-75 row">
  <% unless @vocab_code.present? %>
  <div class="container">
    <div class="row justify-content-end mt-2">
      <div class="col-md-3 d-flex">
      <%= form_with url: vocab_mycards_path, method: :get, remote: true, id: 'job', role: 'form', class: 'd-flex flex-row w-100 align-items-center' do |f| %>
  
        <% options = [['-', nil], ['one day', 1], ['one week', 2], ['one month', 3], ['one year', 4]] %>
        
        <div class="mb-1">
          <%= f.select :selected_item, options_for_select(options, params[:selected_item]), 
                       { include_blank: false }, 
                       class: 'form-select m-1 mr-sm-2 w-auto', style: 'border-radius: 0;' %>
        </div>
        <div class="d-flex justify-content-end align-items-center mb-1">
          <%= button_tag(type: "submit", class: "btn btn-info m-1 mr-sm-2", style: "border-radius: 0; margin-left: 5px;") do %>
            <i class="fas fa-search"></i>
          <% end %>
        </div>
      <% end %>
      </div>
    </div>
  </div>
  <% end %>

  <% if @message.present? %>
    <%= @message %>
  <% end %>

  <div class="row">
    <div class="col-md-12" id="test"></div>
  </div>
  <% last_date = nil %>
  <% @cards.each do |card| %>
    <% current_date = card.created_at.strftime('%Y/%m/%d') %>
    <% if last_date != current_date %>
      <div style="width: 100%; background: lightblue; text-align: center; margin: 10px;">
        <%= current_date %>
      </div>
      <% last_date = current_date %>
    <% end %>
    <div class="col-sm-3 mt-1" style="min-width: 150px;">
      <div class="card rounded-0" style="height: 160px; overflow: auto;">
        <div class="card-body text-center">
          <p class="card-text"><%= card.vocab_table.vocab_read %></p>
          <hr class="m-1">
          <%= link_to card.vocab_table.vocab_code, page_mylang_vocab_mycards_path(vocab_id: card.vocab_table_id), class: 'underline d-inline-block w-100 fs-2 link-opacity-50-hover ink-dark' %>
          <% lang_id = current_user.lang_id %>
          <% if card.vocab_table.vocab_nations.present? %>
            <% text = card.vocab_table.vocab_nations.where(lang: lang_id) %>
            <% text = card.vocab_table.vocab_nations.where(lang: 'EN') if text.blank? %>
          <% end %>

          <hr class="m-1">
          <p class="card-text">
            <% if text.length > 1 %>
              <% text.each_with_index do |txt, index| %>
                <%= txt.nation_code %><%= index < text.length - 1 ? ',' : '' %>
              <% end %>
            <% else %>
              <%= text.first.nation_code %>
            <% end if text.present? %>
          </p>
        </div>
      </div>
    </div>
  <% end %>
</div>
