
<ul class="dropdown-menu inherit d-block w-75 m-auto">
  <li class="dropdown-item" data-bs-toggle="collapse" data-bs-target="#collapsePart" aria-expanded="false" aria-controls="collapsePart">
    Select Parts
  </li>
  <hr class="m-1">

  <div class="collapse" id="collapsePart">
    <div class="card card-body p-0" style="margin: 0 3%;">
      <ul class="dropdown-menu inherit d-block w-100 m-auto">
        <li class="dropdown-item">
          <%= link_to 'part', parts_path, class: 'text-decoration-none d-inline-block w-100 text-reset w-100' %>
        </li>
      </ul>
    </div>
  </div>

  <li class="dropdown-item" data-bs-toggle="collapse" data-bs-target="#collapseVocab" aria-expanded="false" aria-controls="collapseVocab">
    Select Vocabulary
  </li>
  <hr class="m-1">

  <div class="collapse" id="collapseVocab">
    <div class="card card-body p-0" style="margin: 0 3%;">
      <ul class="dropdown-menu inherit d-block w-100 m-auto">
        <li class="dropdown-item">
          <%= link_to 'goi', gois_path, class: 'text-decoration-none d-inline-block w-100 text-reset' %>
        </li>
        <hr class="m-1">
        <li class="dropdown-item">
          <%= link_to 'kuni', foreigns_path, class: 'text-decoration-none d-inline-block w-100 text-reset' %>
        </li>
      </ul>
    </div>
  </div>

  <li class="dropdown-item" data-bs-toggle="collapse" data-bs-target="#collapseKanji" aria-expanded="false" aria-controls="collapseKanji" >
    Select Kanji
  </li>
  <hr class="m-1">

  <div class="collapse" id="collapseKanji">
    <div class="card card-body p-0" style="margin: 0 3%;">
      <ul class="dropdown-menu inherit d-block w-100 m-auto">
        <li class="dropdown-item">
          <%= link_to 'kanji', kanjis_path, class: 'text-decoration-none d-inline-block w-100 text-reset' %>
        </li>
        <hr class="m-1">
        <li class="dropdown-item">
          <%= link_to 'kanji_scroll', kanji_scrolls_path, class: 'text-decoration-none d-inline-block w-100 text-reset' %>
        </li>
        <hr class="m-1">
        <li class="dropdown-item">
          <%= link_to 'kanji_unit', kanji_units_path, class: 'text-decoration-none d-inline-block w-100 text-reset' %>
        </li>
      </ul>
    </div>
  </div>

  <li class="dropdown-item" data-bs-toggle="collapse" data-bs-target="#collapseJlpt" aria-expanded="false" aria-controls="collapseJlpt" >
    Jlpt
  </li>
  <hr class="m-1">

  <div class="collapse" id="collapseJlpt">
    <div class="card card-body p-0" style="margin: 0 3%;">
      <ul class="dropdown-menu inherit d-block w-100 m-auto">
        <li class="dropdown-item">
          <%= link_to 'jlpt N5', jlpts_path(jlpt: 5), class: 'text-decoration-none d-inline-block w-100 text-reset' %>
        </li>
        <hr class="m-1">
        <li class="dropdown-item">
          <%= link_to 'jlpt N4', jlpts_path(jlpt: 4), class: 'text-decoration-none d-inline-block w-100 text-reset' %>
        </li>
        <hr class="m-1">
        <li class="dropdown-item">
          <%= link_to 'jlpt N3', jlpts_path(jlpt: 3), class: 'text-decoration-none d-inline-block w-100 text-reset' %>
        </li>
        <hr class="m-1">
        <li class="dropdown-item">
          <%= link_to 'jlpt N2', jlpts_path(jlpt: 2), class: 'text-decoration-none d-inline-block w-100 text-reset' %>
        </li>
        <hr class="m-1">
        <li class="dropdown-item">
          <%= link_to 'jlpt N1', jlpts_path(jlpt: 1), class: 'text-decoration-none d-inline-block w-100 text-reset' %>
        </li>
      </ul>
    </div>
  </div>

  <li class="dropdown-item" data-bs-toggle="collapse" data-bs-toggle="collapse" data-bs-target="#collapsemycard" aria-expanded="false" aria-controls="collapsemycard">
    Select MyCard Review
  </li>
  <hr class="m-1">
  <div class="collapse" id="collapsemycard">
    <div class="card card-body p-0" style="margin: 0 3%;">
      <ul class="dropdown-menu inherit d-block w-100 m-auto">
        <li class="dropdown-item">
          <%= link_to 'One day', vocab_mycards_path(mode: 0, day: 1), class: 'text-decoration-none d-inline-block w-100 text-reset' %>
        </li>
        <hr class="m-1">
        <li class="dropdown-item">
          <%= link_to 'One week', vocab_mycards_path(mode: 0, day: 7), class: 'text-decoration-none d-inline-block w-100 text-reset' %>
        </li>
        <hr class="m-1">
        <li class="dropdown-item">
          <%= link_to 'One month', vocab_mycards_path(mode: 0, day: 30), class: 'text-decoration-none d-inline-block w-100 text-reset' %>
        </li>
      </ul>
    </div>
  </div>

  <li class="dropdown-item" data-bs-toggle="collapse" data-bs-toggle="collapse" data-bs-target="#collapsequiz" aria-expanded="false" aria-controls="collapsequiz">
    Quiz
  </li>

  <div class="collapse" id="collapsequiz">
    <div class="card card-body mb-1 p-0" style="margin: 0 3%;">
      <ul class="dropdown-menu inherit d-block w-100 m-auto">
        <li class="dropdown-item">
          <%= link_to 'Start Quiz', quizes_path, class: 'text-decoration-none d-inline-block w-100 text-reset'  %>
        </li>
        <hr class="m-1">
        <li class="dropdown-item">
          <%= link_to 'Specified Skill Lodging', specified_skills_path, class: 'text-decoration-none d-inline-block w-100 text-reset'  %>
        </li>
      </ul>
    </div>
  </div>
</ul>
<ul class="dropdown-menu inherit d-block w-75 m-auto">
  <canvas id="myChart"></canvas>
</ul>
