<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'form-horizontal' }) do |f| %>
<%= f.hidden_field :company_flg %>
<%= recaptcha_v3(action: 'signup') %>
<%= render "devise/shared/error_messages", resource: resource %>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="row text-center">
        <h2 class="border border-info rounded">外国人材の採用をご検討している法人様</h2>
      </div>
      <div class="form-group mb-1 row">
        <div class="col">
          <h4 class="text-left">企業情報</h4>
        </div>
      </div>
      <div class="form-group mb-1 row">
        <div class="col-sm col-form-label">
          <%= f.label :company_name %>
        </div>
        <div class="col-sm-10">
          <%= f.text_field :company_name, autofocus: true, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group mb-1 row">
        <div class="col-sm col-form-label">
          <%= f.label :business_type %>
        </div>
        <div class="col-sm-10">
          <%= f.text_field :business_type, autofocus: true, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group mb-1 row">
        <div class="col-sm col-form-label">
          <%= f.label :company_url %>
        </div>
        <div class="col-sm-10">
          <%= f.text_field :company_url, autofocus: true, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group mb-1 row">
        <div class="col-sm col-form-label">
          <h4>ご担当者さま</h4>
        </div>
      </div>
      <div class="form-group mb-1 row">
        <div class="col-sm col-form-label">
          <%= f.label :department %>
        </div>
        <div class="col-sm-10">
          <%= f.text_field :department, autofocus: true, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group mb-1 row">
        <div class="col-sm col-form-label">
          <%= f.label :name_label %>
        </div>
        <div class="col-sm-10 d-flex gap-3">
          <%= f.text_field :sei, autofocus: true, placeholder: '姓', class: 'form-control' %>
          <%= f.text_field :mei, autofocus: true, placeholder: '名', class: 'form-control' %>
        </div>
      </div>
      <div class="form-group mb-1 row">
        <div class="col-sm col-form-label">
          <%= f.label :name_furigana %>
        </div>
        <div class="col-sm-10 d-flex gap-3">
          <%= f.text_field :sei_kana, autofocus: true, placeholder: '姓カナ', class: 'form-control' %>
          <%= f.text_field :mei_kana, autofocus: true, placeholder: '名カナ', class: 'form-control' %>
        </div>
      </div>
      <div class="form-group mb-1 row">
        <div class="col-sm col-form-label col-form-label">
          <%= f.label :mobile %>
        </div>
        <div class="col-sm-10">
          <%= f.text_field :mobile, autofocus: true, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group mb-1 row">
        <div class="col-sm col-form-label">
          <%= f.label :email %>
        </div>
        <div class="col-sm-10">
          <%= f.email_field :email, autofocus: true, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group mb-1 row">
        <div class="col-sm col-form-label">
          <%= f.label :password %>
        </div>
        <div class="col-sm-10">
          <%= f.password_field :password, placeholder: 'パスワード', autocomplete: "off", class: 'form-control' %>
        </div>
      </div>
      <div class="form-group mb-1 row">
        <div class="col-sm col-form-label">
          <%= f.label :password_confirmation %>
        </div>
        <div class="col-sm-10">
          <%= f.password_field :password_confirmation, placeholder: 'パスワード確認', autocomplete: "off", class: 'form-control' %>
        </div>
      </div>
      <div class="actions text-center">
        <%= f.submit t('.sign_up'), class: 'w-50 btn btn-lg btn-primary ' %>
      </div>
    </div>
  </div>
</div>
<% end %>
<p class="mt-5 mb-3 text-center"><%= render "devise/shared/links" %></p>
