<%= form_for [:admin, @tokutei_answer], html: { class: 'needs-validation', novalidate: true } do |f| %>
<% if @tokutei_answer.errors.any? %>
<div class="row">
  <div class="col-md-12">
    <div id="error_explanations" class="alert fade show alert-danger">
      <ul>
        <% @tokutei_answer.errors.full_messages.each do |msg| %>
        <li>
          <%= content_tag(:div, msg) %>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<% end %>

<div class="row mb-3">
  <label class='col-md-2 col-form-label text-end'><%= t('activerecord.attributes.tokutei_answer.sort') %></label>
  <div class="col-md-3">
    <div class="input-group">
      <%= f.text_field :sort, class: 'form-control' %>
    </div>
  </div>
</div>
<div class="row mb-3">
  <label class='col-md-2 col-form-label text-end'><%= t('activerecord.attributes.tokutei_answer.title') %></label>
  <div class="col-md-3">
    <div class="input-group">
      <%= f.text_field :title, class: 'form-control' %>
    </div>
  </div>
</div>
<div class="row mb-3">
  <label class='col-md-2 col-form-label text-end'><%= t('activerecord.attributes.tokutei_answer.content') %></label>
  <div class="col-md-3">
    <div class="input-group">
      <%= f.text_area :content, class: 'form-control' %>
    </div>
  </div>
</div>
<div class="row mb-3">
  <label class='col-md-2 col-form-label text-end'><%= t('activerecord.attributes.tokutei_question.image_flg') %></label>
  <div class="col-md-4">
    <div class="input-group">
      <%= f.file_field :image, accept: 'image/png, image/gif, image/jpeg, image/jpg', class: 'form-control' %>
    </div>
  </div>
</div>
<div class="row mb-3">
  <div class="offset-md-2 col-md-4">
    <%= image_tag get_image(f.object.image) if f.object.image_flg %>
  </div>
</div>
<div class="row mb-3">
  <label class='col-md-2 col-form-label text-end'><%= t('activerecord.attributes.tokutei_answer.correct_flg') %></label>
  <div class="col-md-3">
    <div class="form-check mt-2">
      <%= f.check_box :correct_flg, { class: 'form-check-input', disabled: true }, true, false %>
    </div>
  </div>
</div>
<div class="row mb-3">
  <div class="offset-md-2 col-md-6">
    <table class="table table-bordered table-sm">
      <thead>
        <tr class="table-success">
          <th class="text-start w-25"><%= t('activerecord.attributes.language.language') %></th>
          <th class="text-start"><%= t('activerecord.attributes.language.content') %></th>
          <th class="text-start"><%= t('common.destroy') %></th>
        </tr>
      </thead>
      <tbody id="langs">
      <%= f.fields_for :languages do |ln| %>
        <% render 'language_fields', f: ln %>
      <% end %>
      </tbody>
    </table>
    <%= link_to_add_association t('buttons.lang_add').html_safe, f, :languages,
        'data-association-insertion-method'    => 'append' ,
        'data-association-insertion-node'      => '#langs', class: "btn btn-sm btn-primary"
    %>
  </div>
</div>

<%= f.fields_for :tokutei_explain do |te| %>
<div class="row mb-3">
  <label class='col-md-2 col-form-label text-end'><%= t('activerecord.attributes.tokutei_explain.content') %></label>
  <div class="col-md-3">
    <div class="input-group">
      <%= te.text_area :content, class: 'form-control' %>
    </div>
  </div>
</div>
<div class="row mb-3">
  <div class="offset-md-2 col-md-6">
    <table class="table table-bordered table-sm">
      <thead>
        <tr class="table-success">
          <th class="text-start w-25"><%= t('activerecord.attributes.language.language') %></th>
          <th class="text-start"><%= t('activerecord.attributes.language.content') %></th>
          <th class="text-start"><%= t('common.destroy') %></th>
        </tr>
      </thead>
      <tbody id="te_langs">
      <%= te.fields_for :languages do |ln| %>
        <% render 'language_fields', f: ln %>
      <% end %>
      </tbody>
    </table>
    <%= link_to_add_association t('buttons.lang_add').html_safe, f, :languages,
        'data-association-insertion-method'    => 'append' ,
        'data-association-insertion-node'      => '#te_langs', class: "btn btn-sm btn-primary"
    %>
  </div>
</div>
<% end %>

<div class="form-actions">
  <%= link_to t('buttons.back'), edit_admin_tokutei_question_path(id: @tokutei_answer.tokutei_question_id, audio_lang: @audio_lang), class: "btn btn-sm btn-secondary" %>
  <%= f.submit t('buttons.submit'), class: "btn btn-sm btn-primary" %>
</div>
<% end %>
