<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'form-horizontal' }) do |f| %>
  <%= embedded_svg 'niho_logo.svg', class: 'mb-4' %>
  <h1 class="h3 mb-3 fw-normal"><%= t('.sign_in') %></h1>
  <%= render "users/shared/error_messages", resource: resource %>
  <div class="form-floating w-75 m-auto">
    <%= f.email_field :email, placeholder: 'name@example.com', class: 'form-control', required: false %>
    <%= f.label :email %>
  </div>
  <div class="form-floating w-75 m-auto">
    <%= f.password_field :password, placeholder: 'パスワード', class: 'form-control', required: false %>
    <%= f.label :password %>
  </div>
  <% if devise_mapping.rememberable? -%>
  <div class="checkbox mb-3">
    <%= f.label :remember_me do %>
      <%= f.check_box :remember_me, checked: true, value: true %> <%= t('activerecord.attributes.user.remember_me') %>
    <% end %>
  </div>
  <% end %>
  <%= f.submit t('.sign_in'), class: 'w-100 btn btn-lg btn-primary' %>
<% end %>
<p class="mt-5 mb-3"><%= render "users/shared/links" %></p>
