<div class="container w-75 m-auto">
<div class="row mt-5 mb-3">
  <div class="col">
    <h1 class="text-left">会話</h1>
  </div>

  <div class="col">
  <%= form_for :title_nation, url: audio_d_specified_conversations_path, html: { id: 'title_nations', role: 'form', method: :get }, class: "d-flex", remote: true do |form| %>
      <% audio = @audio_c.order(:title_sort).map{|c| [title_nation(c), c.id]} %>
      <%= form.select :title_nation, options_for_select(audio, ''), { include_blank: false}, { class: 'form-select m-1 mr-sm-2 w-auto', style: 'border-radius: 0;', onchange: 'optionChange(this);'  } %>
      <% first_item = @audio_c.order(:title_sort).first %>
      <% audio_case = first_item.audio_c_contents.map{ |audio_case| [audio_case.content, audio_case.id] } if first_item.present? %>
      <%= form.select :content_id, options_for_select(audio_case || [], ''), { include_blank: false}, { class: 'form-select m-1 mr-sm-2 w-auto', style: 'border-radius: 0;' } %>

      <%= form.radio_button :language, '', id: 'jpn_radio', class: 'btn-check visually-hidden', autocomplete: 'off', checked: true %>
      <label class="btn btn-primary m-1 mr-sm-2" style="border-radius: 0;" for="jpn_radio">JP</label>

      <% Language.group(:language).select(:language).each do |lng| %>
      <%= form.radio_button :language, lng.language, id: "#{lng.language}_radio", class: 'btn-check visually-hidden', autocomplete: 'off' %>
      <label class="btn btn-primary m-1 mr-sm-2" style="border-radius: 0;" for='<%= "#{lng.language}_radio" %>'><%= lng.language %></label>
      <% end %>

      <button type="submit" class="btn btn-info m-1 mr-sm-2" style="border-radius: 0; margin-left: 5px;" >
        <i class="fas fa-search"></i>
      </button>
      <style>
      @media (max-width: 500px) {
        .d-flex {
          display: contents !important;
        }
      }
      .btn-primary {
        background-color: aliceblue;
        color: black;
      }

      .btn-primary:hover {
        background-color: #007bff; /* Change to desired hover color */
      }
    
      .btn-primary.active {
        background-color: #007bff; /* Change to desired selected color */
      }
      </style>      
    <% end %>
    </div>
    </div>
    <hr class="mx-0 border border-secondary border-2 opacity-75">
    <div class="col">
      <div id="audio_d"></div>
    </div>
