 <div class="form-control">
    <div  class="row mb-1">
        <div class="col-md-2 mb-1">
            <%= f.select :lang_id, options_for_select([
                ['-', 0],
                ['日本', 1],
                ['アメリカ', 2]
            ], f.object.lang_id), {}, class: "form-select" %>
        </div>
        <div class="col-md mb-1">
            <%= f.text_field :lang_id, placeholder: '勤務先', class: 'form-control' %>
        </div>
        <div class="col-md-4 d-flex gap-2">
            <%= f.text_field :lang_id, placeholder: '職業', class: 'form-control' %>
            <div class="w-auto form-control">
                <%= select_year(Date.today, {:start_year => 1988, :end_year => 2087}, class: "border-0")%>
                <%# <span>年</span> %>
            </div>
            <p class="col-form-label ext-center">~</p>
            <div class="w-auto form-control">
                <%= select_year(Date.today, {:start_year => 1988, :end_year => 2087}, class: "border-0")%>
                <%# <span>年</span> %>
            </div>
        </div>    
    </div>
</div>
