<div  class="row mb-1">
    <div class="col-md-1">
        </div>
    <div class="col-md-2">
        <%= f.select :occupation, options_for_select(occupation_list, f.object.visa_support), {include_blank: true}, class: 'form-select ' %>
    </div>

    <div class="col-md">
        <%= f.text_field :visa_support, placeholder: '', class: 'form-control' %>
    </div>

    <div class="col-sm-4 d-flex gap-2">
        <%= f.text_field :visa_support, placeholder: '', class: 'form-control' %>
        <div class="w-auto form-control">
            <%= select_year(Date.today, {:start_year => 1988, :end_year => 2087}, class: "border-0")%>
            <%# <span>年</span> %>
        </div>
        <p class="col-form-label ext-center">~</p>
        <div class="w-auto form-control">
            <%= select_year(Date.today, {:start_year => 1988, :end_year => 2087}, class: "border-0")%>
            <%# <span>年</span> %>
        </div>
    </div>
</div>
