<%= form_with model: @user, url: new_student_profile_user_path, locale: true, class: 'needs-validation', novalidate: true, id: 'job', role: 'form' do |f| %>

<%= f.hidden_field :company_flg %>
<%= f.hidden_field :company_flg %>
<div class="container gap-3">
    <div class="row mb-1">
        <div class="col-md-1 col-form-label">
            <%= f.label :name_label, "氏名", class: '' %>
        </div>
        <div class="col-md">
            <%= f.text_field :sei, placeholder: '(表示)02-10入力済', class: 'form-control' %>
        </div>
        <div class="col-md-auto col-form-label">
            <%= f.label :name_label, "呼び名(カタカナ)", class: '' %>
        </div>
        <div class="col-md">
            <%= f.text_field :sei, placeholder: '', class: 'form-control' %>
        </div>
    </div>
    <div class="row mb-1">
        <div class="col-md-1 col-form-label">
            <%= f.label :lang_id, "国籍", class: '' %>
        </div>
        <div class="col-md">
            <%= f.select :lang_id, options_for_select(['EN', 'JP', 'RU', 'CH'], f.object.lang_id), {include_blank: true}, class: 'form-control' %>
        </div>
        <div class="col-md-auto col-form-label">
            <%= f.label :created_at, "生年月日", class: '' %>
        </div>
        <div class="col-md">
            <%= f.date_field :created_at, as: :date, value: f.object.try(:strftime,"%m/%d/%Y"), class: 'form-control' %>
            </div>
        <div class="col-md-auto col-form-label">
            <%= f.label :lang_id, "性別", class: '' %>
        </div>
        <div class="col-md">
            <%= f.select :lang_id, options_for_select([['男性', 1], ['女性', 2], ['答えたくない', 3]], f.object.lang_id), {include_blank: true}, class: 'form-select' %>
        </div>
        <div class="col-md-auto col-form-label">
            <%= f.label :lang_id, "現在日本に在住", class: '' %>
        </div>
        <div class="col-md">
            <%= f.select :sign_in_count, options_for_select(['はい','いいえ'], f.object.sign_in_count), {include_blank: true}, class: 'form-select user_sign_in_count' %>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1 col-form-label mb-1">
            <%= f.label :name_label, "現住所", class: '' %>
        </div>
        <div class="col-md-3 mb-1">
            <%= f.select :lang_id, options_for_select(['日本', 'アメリカ'], f.object.lang_id), {include_blank: true}, class: 'form-control' %>
        </div>
        <div class="col-md mb-1">
            <%= f.text_field :sei, placeholder: '', class: 'form-control' %>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-sm-7">
            <div class=" d-none row mb-1" id="zairyu_shikaku">
                <div class="col-sm-2 col-form-label">
                    <%= f.label :name_label, "在留資格", class: '' %>
                </div>
                <div class="col-sm-6">
                    <%= f.select :lang_id, options_for_select(['', ''], f.object.lang_id), {include_blank: true}, class: 'form-control' %>
                </div>
                <div class="col-md-auto col-form-label">
                    <%= f.label :name_label, "期限", class: '' %>
                </div>
                <div class="col-sm-3">
                    <%= f.date_field :created_at, as: :date, value: f.object.try(:strftime,"%m/%d/%Y"), class: 'form-control' %>
                </div>
            </div>
        </div>
        <div class="col-sm d-flex gap-3">
            <div class="w-50 col-form-label text-end">
                <%= f.label :name_label, "就職希望時期", class: '' %>
            </div>
             <div class="w-50 p-0 mb-1 d-flex form-control">
                <%= select_year(Date.today, {:start_year => Date.current.year, :end_year => 2087, prompt: { year: '年' }}, class: "border-0 text-end form-select")%>
                <%= f.select :name_kana, options_for_select([
                    ['1月', 1],
                    ['2月', 2],
                    ['3月', 3],
                    ['4月', 4],
                    ['5月', 5],
                    ['6月', 6],
                    ['7月', 7],
                    ['8月', 8],
                    ['9月', 9],
                    ['10月', 10],
                    ['11月', 11],
                    ['12月', 12]], f.object.name_kana), {include_blank: false, include_hidden: false}, class: "border-0 text-end form-select" %>
            </div>
        </div>
    </div>
    <div class="row mb-1" >
        <h3 class="text-center">学歴(最近のものから順番に)</h3>
    </div>
    <div class="mb-1"  id="edu_history">
        <%= f.fields_for :student_profiles, @student_profiles do |ft| %>
        <% render 'edu_history_fields', f: ft %>
        <% end %>
    </div>
    <div class="row-sm-auto mb-2" >
        <%= link_to_add_association t('buttons.add_plus').html_safe, f, :student_profiles, partial: 'edu_history_fields',
            'data-association-insertion-method'    => 'append' ,
            'data-association-insertion-node'      => '#edu_history', class: "btn btn-primary border-2 rounded-circle"
        %>
    </div>
    <div class="row mb-1">
        <h3 class="text-center">職歴(最近のものから順番に)</h3>
    </div>
    <div class="mb-1"  id="work_history">
        <%= f.fields_for :student_profiles, @student_profiles do |ft| %>
            <% render 'work_history_fields', f: ft %>
        <% end %>
    </div>
    <div class="row-sm-auto mb-2" >
        <%= link_to_add_association t('buttons.add_plus').html_safe, f, :student_profiles, partial: 'work_history_fields',
            'data-association-insertion-method'    => 'append' ,
            'data-association-insertion-node'      => '#work_history', class: "btn btn-primary border-2 rounded-circle"
        %>
    </div>
    <div class="row mb-2">
        <div class="col-sm mb-1">
            <div class="row">
                <div class="col-sm-2 col-form-label">
                    <%= f.label :name_label, "スキル" %>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <%= f.text_area :sei, :size=>"20x4", class: 'form-control' %>
                </div>
            </div>
        </div>
        <div  class="col-md" id="skill_row">
            <div class="row mb-1 d-flex">

                <div class="col col-form-label" id="lbluselang0">
                    <%= f.label :lang_id, "使用言語", class: '' %>
                </div>
                <div class="col col-form-label">
                    <%= f.label :name_label, "レベル", class: '' %>
                </div>
            </div>
            <div class="mb-1"  id="skill_level">
                <%= f.fields_for :student_profiles, @student_profiles do |ft| %>
                    <% render 'student_profile_fields', f: ft %>
                <% end %>
            </div>
            <div class="row-sm-auto mb-2" >
                <%= link_to_add_association t('buttons.add_plus').html_safe, f, :student_profiles,
                    'data-association-insertion-method'    => 'append' ,
                    'data-association-insertion-node'      => '#skill_level', class: "btn btn-primary border-2 rounded-circle"
                %>
            </div>
        </div>
    </div>
    <div class="action text-center">
        <input name="" id="" class="w-50 btn btn-lg btn-primary " type="submit" value="完了">
    </div>

</div>
<% end %>
