<div class="container">
    <div class="row  m-auto">
      <%= form_for @user, url: get_job_search_user_path, method: :post, html: { class: 'needs-validation', novalidate: true, id: 'user', role: 'form' } do |f| %>
        <div class="row mb-1">
            <div class="col-sm-1 col-form-label mw-25">
                <%= f.label :sei, "氏名", class: '' %>
            </div>
            <div class="col-sm-3">
                <%= f.text_field :sei, placeholder: '(表示)02-10入力済', class: 'form-control' %>
            </div>
            <div class="col-sm-1 col-form-label">
                <%= f.label :sei, "勤務地", class: '' %>
            </div>
            <div class="col-sm">
                <%= f.select :sei, options_for_select([
                    ['北海道', 1],
                    ['青森県', 2],
                    ['岩手県', 3],
                    ['宮城県', 4],
                    ['秋田県', 5],
                    ['山形県', 6],
                    ['福島県', 7],
                    ['茨城県', 8],
                    ['栃木県', 9],
                    ['群馬県', 10],
                    ['埼玉県', 11],
                    ['千葉県', 12],
                    ['東京都', 13],
                    ['神奈川県', 14],
                    ['新潟県', 15],
                    ['富山県', 16 ],
                    ['石川県', 17],
                    ['福井県', 18],
                    ['山梨県', 19],
                    ['長野県', 20],
                    ['岐阜県', 21],
                    ['静岡県', 22],
                    ['愛知県', 23],
                    ['三重県', 24],
                    ['滋賀県', 25],
                    ['京都府', 26],
                    ['大阪府', 27],
                    ['兵庫県', 28],
                    ['奈良県', 29],
                    ['和歌山県', 30],
                    ['鳥取県', 31],
                    ['島根県', 32],
                    ['岡山県', 33],
                    ['広島県', 34],
                    ['山口県', 35],
                    ['徳島県', 36],
                    ['香川県', 37],
                    ['愛媛県', 38],
                    ['高知県', 39],
                    ['福岡県', 40],
                    ['佐賀県', 41],
                    ['長崎県', 42],
                    ['熊本県', 43],
                    ['大分県', 44],
                    ['宮崎県', 45],
                    ['鹿児島県', 46],
                    ['沖縄県', 47],
                    ['海外', 48]], f.object.sei), {include_blank: false, include_hidden: false}, multiple: true, class: 'multiselect-workplace form-select' %>
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-sm-1 mb-1 col-form-label">
                <%= f.label :name_kana,"入社時期", class: ''%>
            </div>
            <div class="col-sm-auto  mb-1">
                <%= select_year(Date.today, {:start_year => Date.current.year, :end_year => 2087, prompt: { year: '年' }}, class: "form-select")%>
            </div>
            <div class="col-sm-3 mb-1">
                <%= f.select :name_kana, options_for_select([
                    ['1月', 1],
                    ['2月', 2],
                    ['3月', 3],
                    ['4月', 4],
                    ['5月', 5],
                    ['6月', 6],
                    ['7月', 7],
                    ['8月', 8],
                    ['9月', 9],
                    ['10月', 10],
                    ['11月', 11],
                    ['12月', 12]], f.object.name_kana), {include_blank: false, include_hidden: false}, multiple: true, class: 'multiselect-months form-select' %>
            </div>
            <div class="col-sm-1 col-form-label">
                <%= f.label :name_kana, "年収", class: '' %>
            </div>
            <div class="col-sm-2">
                <%= f.select :name_kana, options_for_select([
                    ['300万円未満', 1],
                    ['300万円以上', 2],
                    ['400万円以上', 3],
                    ['500万円以上', 4]
                ], f.object.name_kana), {include_blank: true}, class: "form-select" %>
            </div>
            <div class="col-sm-1 col-form-label">
                <%= f.label :name_kana,"職種", class: ''%>
            </div>
            <div class="col-sm">
                <%= f.select :name_kana, options_for_select(occupation_list, f.object.name_kana), {include_blank: true}, class: 'dropdown-toggle form-select' %>
            </div>
        </div>
        <div class="row mb-1">
            <div class="action text-center">
              <%= submit_tag "Search", :class=>"btn btn-primary" %>
            </div>
        </div>
      <% end %>
      <% if @SubmitStatus.present? %>
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong> おめでとうございます!</strong> 脂肪完了いたしました。
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      <% end %>
      <% if @results.present? %>
      <div class="container-fluid mb-3 ">
        <% @results["vacancies"].each do |vacancy| %>
          <div class="card mb-3">
            <div class="card-header">
              <h5 class="card-title"><%= @company_name_md = vacancy["company"] %> </h5>
              <h6 class="card-subtitle mb-2 text-muted"><%= vacancy["position"] %></h6>
            </div>
            <div class="card-body">
              <h6 class="card-subtitle mb-2 text-muted">Location: <%= vacancy["location"] %></h6>
              <p class="card-text"><%= vacancy["company"] %> <%= vacancy["description"] %></p>
              <h6 class="card-subtitle mb-2 text-muted">Requirements:</h6>
              <ul>
                <% vacancy["requirements"].each do |requirement| %>
                  <li><%= requirement %></li>
                <% end %>
              </ul>
              <h6 class="card-subtitle mb-2 text-muted">Responsibilities:</h6>
              <ul>
                <% vacancy["responsibilities"].each do |responsibility| %>
                  <li><%= responsibility %></li>
                <% end %>
              </ul>
              <p class="card-text"><%= vacancy["info"] %> : <%= vacancy["email"] %></p>
              <p class="card-text">Application deadline: <%= vacancy["deadline"] %> </p>
            </div>
            <div class="card-footer">
              <div class="row  m-auto">
                  <div class="col">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#btn-detail" data-company="<%= vacancy["company"] %>" data-description="<%= vacancy["description"] %>" data-requirements="<%= vacancy["requirements"].join(", ") %>" data-responsibilities="<%= vacancy["responsibilities"].join(", ") %>">
                        詳細
                    </button>
                  </div>
                  <div class="col  text-end">
                      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#btn-apply">
                          Apply
                      </button>
                  </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
    </div>
    <div class="modal fade" id="btn-detail" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><span id="modal-company"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h6 class="card-subtitle mb-2 text-muted"></h6>
                    <p class="card-text">Description: <span id="modal-description"></span></p>
                    <h6 class="card-subtitle mb-2 text-muted">Requirements:</h6>
                    <ul id="modal-requirements"></ul>
                    <h6 class="card-subtitle mb-2 text-muted">Responsibilities:</h6>
                    <ul id="modal-responsibilities"></ul>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="btn-apply">
      <div class="modal-dialog">
        <%= form_for @user, url: submit_job_search_user_path, method: :post, html: { class: 'needs-validation', novalidate: true, id: 'user', role: 'form' } do |f| %>
        <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">サブミットして下さい</h4>
              <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>
          <!-- Modal body -->
          <div class="modal-body">
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">志望動機:</label>
                <%= f.text_area :sei, :size=>"20x4", class: 'form-control' %>
              </div>
              <div class="form-group">
                <label for="message-text" class="col-form-label">自己PR:</label>
                  <%= f.text_area :sei, :size=>"20x4", class: 'form-control' %>
              </div>
            </div>
          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">キャンセル</button>
            <%= submit_tag "申請", :class=>"btn btn-primary" %>
          </div>
        </div>
      <% end %>
      </div>
    </div>
  </div>
<script>
$(document).ready(function() {
    var myModal = new bootstrap.Modal(document.getElementById('btn-detail'));
  $('#btn-detail').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget);
      var companyName = button.data('company');
      var description = button.data('description');
      var requirements = button.data('requirements');
      var responsibilities = button.data('responsibilities');

      $('#modal-company').text(companyName);
      $('#modal-description').text(description);

      var requirementsList = requirements.split(", ");
      var requirementsHtml = '';
      requirementsList.forEach(function (requirement) {
          requirementsHtml += '<li>' + requirement + '</li>';
      });
      $('#modal-requirements').html(requirementsHtml);

      var responsibilitiesList = responsibilities.split(", ");
      var responsibilitiesHtml = '';
      responsibilitiesList.forEach(function (responsibility) {
          responsibilitiesHtml += '<li>' + responsibility + '</li>';
      });
      $('#modal-responsibilities').html(responsibilitiesHtml);
  });

  $('.multiselect-workplace').select2({
      width: '100%',
    });

    $('.multiselect-months').select2({
     width: '100%',
  });
});
</script>