<!-- <%= form_for :kanji, url: audio_masters_path, html: { id: 'kanjis', role: 'form', method: :get }, remote: true do |f| %>
    <%= f.text_field :kanji, class: 'form-control' %>
    <%= hidden_field_tag :check_id, "iamhere" %>
    <%= text_field_tag :sei, @count, class: 'form-control', disabled: true %>
    <%= f.submit 'next', class: 'btn btn-primary' %>
<% end %> -->

<div class="tabs m-auto w-50">
  <!-- Tab Navigation -->
  <ul class="nav nav-tabs" id="tab-navigation" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="tab-1-link" data-bs-toggle="tab" href="#tab-1" role="tab">Tab 1</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="tab-2-link" data-bs-toggle="tab" href="#tab-2" role="tab">Tab 2</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="tab-3-link" data-bs-toggle="tab" href="#tab-3" role="tab">Tab 3</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="tab-4-link" data-bs-toggle="tab" href="#tab-4" role="tab">Tab 4</a>
    </li>
  </ul>

  <!-- Tab Content -->
  <div class="tab-content" id="tab-content">
    <!-- Tab 1 Content -->
    <div class="tab-pane fade show active" id="tab-1" role="tabpanel">
        <%= form_with(url: audio_masters_path, method: :post) do |f| %>
            <% @audio_a.each_with_index do |data, index| %>
                <div class="form-group">
                    <%= label_tag "audio_a[#{index}][title_nation]", "Field #{index + 1}" %>
                    <%= text_field_tag "audio_a[#{index}][title_nation]", title_nation(data), class: "form-control" %>
                </div>
            <% end %>
            <div class="form-actions text-center mt-3">
                <%= f.submit 'next', name: "navigation", value: "save", class: "btn btn-success" %>
            </div>
        <% end %>
    </div>

    <!-- Tab 2 Content -->
    <div class="tab-pane fade" id="tab-2" role="tabpanel">
      <%= form_with(url: audio_masters_path, method: :post) do |f| %>
        <div class="form-group">
          <%= f.label :field2, "Field 2" %>
          <%= f.text_field :field2, class: "form-control" %>
        </div>
        <div class="form-actions text-center mt-3">
            <%= f.submit 'next', name: "navigation", value: "save", class: "btn btn-success" %>
        </div>
      <% end %>
    </div>

    <!-- Tab 3 Content -->
    <div class="tab-pane fade" id="tab-3" role="tabpanel">
      <%= form_with(url: audio_masters_path, method: :post) do |f| %>
        <div class="form-group">
            <%= f.label :field3, "Field 3" %>
            <%= f.text_field :field3, class: "form-control" %>
        </div>
        <div class="form-actions text-center mt-3">
            <%= f.submit 'next', name: "navigation", value: "save", class: "btn btn-success" %>
        </div>
      <% end %>
    </div>

    <!-- Tab 4 Content -->
    <div class="tab-pane fade" id="tab-4" role="tabpanel">
      <%= form_with(url: audio_masters_path, method: :post) do |f| %>
        <div class="form-group">
          <%= f.label :field4, "Field 4" %>
          <%= f.text_field :field4, class: "form-control" %>
        </div>
        <div class="form-actions text-center mt-3">
            <%= f.submit 'next', name: "navigation", value: "save", class: "btn btn-success" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
