<!DOCTYPE html>
<html>
<head>
  <title><%= t('title.title') %></title>
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0" />
  <meta name="turbolinks-cache-control" content="no-cache">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= favicon_link_tag "favicon.ico" %>
  <%= stylesheet_link_tag "application", media: "all", 'data-turbo-track': 'reload' %>
  <%= stylesheet_link_tag "sb-admin-2", media: "all", 'data-turbo-track': 'reload' %>
  <%= yield :stylesheet %>
  <%= javascript_include_tag "application", 'data-turbo-track': 'reload' %>
  <%= javascript_include_tag "locales/#{locales}/common.messages" %>
  <%= individual_javascript_include_tag %>
  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <%= javascript_include_tag 'html5shiv' %>
  <![endif]-->
</head>
<body>
  <% if controller_name != 'mains' %>
  <nav class="navbar navbar-expand-md navbar-light static-top bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="<%= current_user.present? ? menus_path : kaisha_menus_path %>"><%= t('title.header') %></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!--
    /.navbar-header -->
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <% if current_comp.present? %>
        <!--<li class="nav-item"><%#= link_to t('navbar.comp').html_safe, kaisha_comps_path, class: "nav-link" %></li>-->
        <li class="nav-item"><%= link_to t('navbar.company_store').html_safe, new_kaisha_company_store_path, class: "nav-link" %></li>
        <li class="nav-item"><%= link_to t('navbar.job_profile').html_safe, kaisha_job_profiles_path, class: "nav-link" %></li>
        <li class="nav-item"><%= link_to t('navbar.offer').html_safe, kaisha_offers_path, class: "nav-link" %></li>
        <% else %>
        <!--<li class="nav-item"><%#= link_to t('navbar.user').html_safe, users_path, class: "nav-link" %></li>-->
        <li class="nav-item"><%= link_to t('navbar.store').html_safe, new_store_path, class: "nav-link" %></li>
        <li class="nav-item"><%= link_to t('navbar.job').html_safe, jobs_path, class: "nav-link" %></li>
        <% end %>
        <li class="nav-item"></li>
      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-md-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" href="#">
            <%== current_user.present? ? current_user.name : current_comp.name %>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><%= link_to t('navbar.edit').html_safe, current_user.present? ? edit_user_path(current_user.id) : edit_kaisha_comp_path(current_comp.id), class: "dropdown-item" %></li>
            <% if current_user.present? %>
            <li><%= link_to t('navbar.profile').html_safe, profile_user_path(current_user.id), class: "dropdown-item" %></li>
            <% end %>
            <li><%= link_to t('navbar.logout').html_safe, current_user.present? ? destroy_user_session_path : destroy_comp_session_path, method: 'delete', class: "dropdown-item" %></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
    <!-- /.navbar-static-side -->
  </nav>
  <% end %>
  <main class="container-fluid">
    <%= bootstrap_flash %>
    <%= yield %>
    <%= render partial: "shared/footer" %>
  </main>
</body>
</html>
